<div ng-controller="app.views.questions.detail as vm">
    <div class="modal-header">
        <div class="panel-heading">
            <div class="row">
                <div class="col-xs-10">
                    <h3 class="panel-title">{{question.title}}</h3>
                </div>
                <div class="col-xs-2 text-right">
                    <span>{{question.voteCount}} votes</span>
                    <i class="fa fa-chevron-up vote-change-icon" (click)="voteUp(question)"></i>
                    <i class="fa fa-chevron-down vote-change-icon" (click)="voteDown(question)"></i>
                </div>
            </div>
        </div>
        <div class="panel-body">
            {{question.text}}
        </div>
        <div class="panel-footer">
            <span>{{question.creatorUserName}}</span>
            <span class="text-muted">{{question.creationTime}}</span>
        </div>
    </div>
    <div class="modal-body panel-default answer-detail-panel" *ngFor="let answer of question.answers">
        <div class="panel-body">
            {{answer.text}}
            <div ng-if="!answer.isAccepted && ownQuestion">
                <br />
                <button (click)="acceptAnswer(answerText)" class="btn btn-success"><i class="fa fa-check"></i> Set as accepted answer</button>
            </div>
            <i ng-if="answer.isAccepted" class="fa fa-check-circle accepted-icon" title="This answer is accepted by question owner"></i>
        </div>
        <div class="panel-footer">
            <span ng-if="answer.creatorUserName">{{answer.creatorUserName}} </span>
            <span class="text-muted">{{answer.creationTime}}</span>
        </div>
    </div>
    <div class="modal-footer">
        <div class="panel-heading">
            <h3 class="panel-title">Answer to the question</h3>
        </div>
        <div class="panel-body">
            <textarea [(ngModel)]="answerText" rows="10" class="col-xs-12"></textarea>
        </div>
        <div class="panel-footer">
            <button ng-disabled="!vm.answerText" (click)="submitAnswer()" class="btn btn-primary"><i class="fa fa-check"></i> Submit answer</button>
        </div>
    </div>
</div>